# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist
/tmp
/logs

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm debug logs
npm-debug.log*
.npm

# Yarn
yarn-debug.log*
.yarn-integrity
.yarn/install-state.yml

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db